<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
</head>
<body>
<h1>Privacy Policy</h1>
<p>Effective date: 27-06-2024</p>
<h2>1. Introduction</h2>
<p>We at <span th:text="'COSMO PK'">COSMO PK</span> respect your privacy and are committed to protecting the personal information you share with us. This Privacy Policy explains our practices regarding the collection, use, and disclosure of your information.</p>
<h2>2. Information We Collect</h2>
<p>The only personal information we collect is your email address. This is necessary for account creation and communication purposes.</p>
<h2>3. Use of Information</h2>
<p>We use your email address to:</p>
<ul>
    <li>Create and manage your account.</li>
    <li>Send you updates and notifications related to our services.</li>
</ul>
<h2>4. Data Sharing</h2>
<p>We do not share your email address with third parties except as required by law.</p>
<h2>5. Data Security</h2>
<p>We implement reasonable measures to protect your email address from unauthorized access or disclosure.</p>
<h2>6. Changes to this Privacy Policy</h2>
<p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on our website.</p>
<h2>Contact Us</h2>
<p>If you have any questions about this Privacy Policy, please contact us at [Your Contact Information].</p>
<p>COSMO PK</p><br>
</body>
</html>
