<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Terms of Service</title>
</head>
<body>
<h1>Terms of Service</h1>
<p>Effective date: 27-06-2024</p>
<h2>1. Acceptance of Terms</h2>
<p>By accessing or using <span th:text="'COSMO PK'">COSMO PK</span> services, you agree to be bound by these Terms of Service.</p>
<h2>2. Use of Services</h2>
<p>You must provide a valid email address to use our services. You agree to use our services only for lawful purposes.</p>
<h2>3. Account Responsibilities</h2>
<p>You are responsible for maintaining the confidentiality of your account and password. You agree to notify us immediately of any unauthorized use of your account.</p>
<h2>4. Termination</h2>
<p>We reserve the right to terminate your access to our services at any time, without notice, for conduct that we believe violates these Terms of Service or is harmful to other users.</p>
<h2>5. Changes to Terms</h2>
<p>We may modify these Terms of Service at any time. We will notify you of any changes by posting the new Terms of Service on our website.</p>
<h2>Contact Us</h2>
<p>If you have any questions about these Terms of Service, please contact us at [Your Contact Information].</p>
<p>COSMO PK</p>
</body>
</html>
